<html>
<head>
  <title>COLOR</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="color.js"></script>
</head>
<body style="background: <%=@color%>"></body>
</html>